@tailwind base;
@tailwind components;
@tailwind utilities;

html[lang="ar"] body {
  font-family: 'ArabicFont', sans-serif; /* Replace with an actual Arabic font */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(1000%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(1000%);
  }

  to {
    transform: translateY(-100%);
  }
}

body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-100 dark:text-gray-900;
  @apply transition-colors duration-300;
  @apply font-sans;
  @apply text-sm;
  @apply leading-6;
  @apply antialiased;
  @apply text-gray-900 dark:text-gray-100;
  @apply bg-white dark:bg-gray-800;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}